/*Separate classes: layout vs. style*/

.outline-green {
  outline: 5px dashed green;
}
.outline-red {
  outline: 5px dotted red;
}
.outline-blue {
  outline: 5px dashed blue;
}
.border-pink {
  border: 3px dotted pink;
}

body {
  --white: #fafaf9;
  --black: #0c0a09;
  --color-accent: hsl(191, 75%, 45%);

  /*fonts*/
  --serif: "Playfair Display", serif;
  --sans-serif: system-ui;
}

.serif {
  font-family: var(--serif);
  font-optical-sizing: auto;
  font-style: normal;
}

.white {
  color: var(--white);
}

.black {
  color: var(--black);
}

.color-accent {
  color: var(--color-accent);
}

.shadow {
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1))
    drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}

.header {
  background: linear-gradient(
    140deg,
    var(--color-accent),
    var(--color-accent) 50%,
    var(--white) 50%,
    var(--white)
  );
  padding: var(--space-lg) var(--space-lg) 0 var(--space-lg);
}
.header-inner {
  background-color: var(--white);
}
.photo-wrapper {
}
.photo__name {
  font-size: 3rem;
  position: absolute;
  bottom: 0px;
}

.about-me__title {
  text-align: center;
  margin: 0.5em 0;
}
.about-me__content {
  padding: 0 3rem 3rem calc(1rem + 3vw);
}

/* Tablets */
@media (min-width: 500px) {
  .header {
    padding: calc(48px + 4vw) calc(40px + 4vw);
    background: linear-gradient(
      165deg,
      var(--color-accent),
      var(--color-accent) 50%,
      var(--white) 50%,
      var(--white)
    );
  }
  .photo-wrapper {
    float: left;
    margin-right: 25px;
    margin-bottom: 5px;
    position: relative;
    transform: scale(1.2) translate(10px, 0);
    transform-origin: bottom right;
  }
  .photo-wrapper img {
    height: calc(200px + 4vw);
  }
  .photo__name {
    font-size: 3rem;
    position: absolute;
    top: 0;
    left: calc(75%);
    width: max-content;
  }
  .about-me__title {
    padding-top: 3rem;
  }
}

/* Desktops */
@media (min-width: 900px) {
  .header {
    margin: 0;
    padding: calc(30px + 5vw) 5vw 0;
  }
  .header-inner {
    margin: 0 auto;
    max-width: 900px;
    height: min(33vw, 350px);
  }
  .photo-wrapper {
    margin: 0 calc(70px + 4vw) 0 0;
    position: relative;
    transform: none;
    transform-origin: none;
  }
  .photo-wrapper img {
    height: min(33vw, 350px);
    transform: scale(1.2);
    transform-origin: center left;
  }
  .photo__name {
  }
  .about-me__title {
    text-align: left;
  }
}
